<!DOCTYPE html>
<html lang="" data-ng-app="myApp">
<head>
  <meta t="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
  <link rel="stylesheet" href="css/main.css">    
</head>

<body>
    <!-- Login Display-->
   <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
<script>
    // Empty controller for future development
    var app = angular.module('myApp', []);
    app.controller('login', function ($scope) {
    });

</script>
</body>
</html>