<!DOCTYPE html>
<html ng-app="demoMongo" ng-controller="MongoRestController">
<head>
    <title>Register</title>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1><center>Lab 10 - AWS User Service</center></h1>
    <h2><center>By Josh Neustrom (#39)</center></h2>
    <h3><center>Give Us Your Info to Register</center></h3>
</div>
<div class="container">
    <form class="form-horizontal" ng-submit="insertData()" name="contact_form">
        <ul>
            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" id="fname" name="fname" style="width:100%;" placeholder="First Name" ng-model="formData.fname" required />
            </div>

            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" id="lname" name="lname" style="width:100%;" ng-model="formData.lname" placeholder="Last Name" required />
            </div>


            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" id="email" name="email" ng-model="formData.email" style="width:100%;" placeholder="example@mail.com" required />
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" ng-model="formData.password" style="width:100%;" placeholder="password">
            </div>

            <div class="form-group">
                <label for="cpassword">Confirm Password:</label>
                <input type="password" id="cpassword" name="cpassword"  ng-model="formData.cpassword" style="width:100%;" placeholder="confirm password">
            </div>
        </ul>
        <input type="submit" name="Sign In" style="width:100%;" value="Register"/>
    </form>
    <br/>
    <button onclick="location.href = '/';" style="width:100%;" id="loginButton"  >Login</button>
</div>

<script>
    /**
     * Created by user on 23/10/2016.
     */
    var myapp = angular.module('demoMongo',[]);
    myapp.run(function ($http) {
        // Sends this header with any AJAX request
        $http.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
        // Send this header only in post requests. Specifies you are sending a JSON object
        $http.defaults.headers.post['dataType'] = 'json'
    });

    myapp.controller('MongoRestController',function($scope,$http){
        // Add a new record
        $scope.insertData = function(){
            // Check passwords
            if ($scope.formData.password == $scope.formData.cpassword) {
                // Log for troubleshooting
                console.log($scope.formData.lname);
                console.log($scope.formData.fname);
                console.log($scope.formData.email);
                console.log($scope.formData.password);
                console.log($scope.formData.cpassword);
                
                // Data to send
                var dataParams = {
                    'fname': $scope.formData.fname,
                    'lname': $scope.formData.lname,
                    'email': $scope.formData.email,
                    'password': $scope.formData.password
                };

                // Type
                var config = {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                    }
                }

                // Crud insert requet
                var req = $http.post('http://127.0.0.1:8081/register', dataParams);
                req.success(function (data, status, headers, config) {
                    // We are good
                    $scope.message = data;
                    console.log(data);
                    alert("Registration Successful");

                    // Go to the Login page
                    document.location.href="index.html";
                });

                // Request failed
                 req.error(function(data, status, headers, config) {
                    alert(JSON.stringify({data: data}));
                    console.log( "failure message: " + JSON.stringify({data: data}));
                });
            }

            // Password problem
            else
            {
                alert("Error 1 - passwords do not match try again!");
            }
           
        };

    });


</script>
</body>
</html>
