<ion-view view-title="Home">
  <ion-content padding = "true">
   
    <form name="Form">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Likes</span></br>
                    <input name="likes" type="text" placeholder="Give Us at Least Five Words About What You Enjoy Doing..." ng-model="sourceText" required>
                </label>
                <span class="error" ng-show="Form.likes.$touched && Form.likes.$error.required"><i class="ion-information-circled"></i> Tell Us What You Enjoy Please!</span>
               <label class="item item-input">
                    <span class="input-label">City</span></br>
                    <input name="city" type="text" placeholder="Tell us where you are" ng-model="location"  required>
                </label>
                <span class="error" ng-show="Form.city.$touched && Form.city.$error.required"><i class="ion-information-circled"></i> Tell Us What Your City Please!</span>
                <button class="button button-block button-calm" ng-disabled="Form.$invalid" ng-click="myFunction(sourceText, location)">Submit</button> 
            </ion-list>
           </br>
          <span ng-show='name.length > 0'> Places to See </span>
        </form>
        </br>
      <h2>{{title}}</h2>
    <div ng-repeat="i in venueList">
      {{i.name}} - {{i.location}}
    </div>
    
  
    

  </ion-content>
</ion-view>
