<ion-view title="Register">
    <ion-content padding="true">
        <form name="myForm">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span></br>
                    <input name="name" type="text" placeholder="enter your name..." ng-model="name" required>
                </label>
                <span class="error" ng-show="myForm.name.$touched && myForm.name.$error.required"><i class="ion-information-circled"></i> Name is Required!</span>
                <label class="item item-input">
                    <span class="input-label">Username</span></br>
                    <input name="username" type="text" placeholder="At least 4 characters..." ng-model="username" ng-minlength="4" required>
                </label>
                  <span class="error" ng-show="myForm.username.$touched && myForm.username.$error.required"><i class="ion-information-circled"></i> Username is Required!</span>
                <label class="item item-input">
                    <span class="input-label">Email</span></br>
                    <input name="email" type="email" placeholder="you@domain.com" ng-model="email" required>
                </label>
                <span class="error" ng-show="myForm.email.$touched && myForm.email.$error.required"><i class="ion-information-circled"></i> Email is Required!</span>
                <label class="item item-input">
                    <span class="input-label">Password</span></br>
                    <input name="password" type="password" placeholder="At least 6 characters" ng-model="password" ng-minlength="6" required>
                </label>
               <span class="error" ng-show="myForm.password.$touched && myForm.password.$error.required"><i class="ion-information-circled"></i> Password is Required!</span>
            </ion-list>

            <button class="button button-block button-calm" ng-disabled="myForm.$invalid" ng-click="signupEmail(name,username, email, password)">Done</button> 
          
        </form>
        
              
   
      
    </ion-content>
</ion-view>

